version: "3.9"
services:
  api1:
    build: .
    container_name: url_api_1
    ports:
      - "3001:3000"
    depends_on:
      - postgres
      - redis
    env_file: .env

  api2:
    build: .
    container_name: url_api_2
    ports:
      - "3002:3000"
    depends_on:
      - postgres
      - redis
    env_file: .env

  nginx:
    image: nginx:latest
    container_name: nginx_lb
    ports:
      - "3000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api1
      - api2
    networks:
      - default

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: fahmi
      POSTGRES_PASSWORD: password
      POSTGRES_DB: urlshort
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6379:6379"

volumes:
  pgdata:
